@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    font-family: arial;
    border: border-box;
    font-family: 'poppins', sans-serif;
}

.navbar {
    height: 60px;
    background-color: #131A22;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 114px;
}

.logo {
    background-image: url('images/amazon_logo.png');
    background-size: cover;
    height: 65px;
    width: 100%;
    cursor: pointer;
}

.border {
    border: 1.8px solid transparent;
}

.border:hover {
    border: 1.8px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
    cursor: pointer;

}

.add-sec {
    color: white;
    font-size: 1rem;
    margin-left: 3px;
    cursor: pointer;
}

.add-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-search {
    display: flex;
    background-color: pink;
    width: 720px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    cursor: pointer;
}

.search-select {
    background-color: #f3f3f3;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    cursor: pointer;
}

.search-input {
    width: 100%;
    font-size: 0.9rem;
    outline: none;
    border: none;
}

.search-icon {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    background-color: #FEBD69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.nav-search:hover {
    border: 2px solid orange;
}

.nav-lang {
    display: flex;
    gap: 7px;
    cursor: pointer;
}

.flag-icon img {
    width: 20px;
    height: auto;
    cursor: pointer;
    margin-left: 5px;
}

.lang-select {
    background-color: black;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;

}

.border {
    border: 1.8px solid transparent;
}

.border:hover {
    border: 1.8px solid white;
}


.nav-signin {
    line-height: 18px;
    cursor: pointer;
}

.Above-text-1 {
    font-size: 0.75rem;
    margin-left: 4px;
}

.Above-text-2 {
    font-size: 0.75rem;
}

.nav-second {
    font-size: 0.8rem;
    font-weight: 700;
    background-color: black;
    border: none;
    color: white;
}

.nav-return {
    line-height: 20px;
    cursor: pointer;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.border {
    border: 1.8px solid transparent;
}

.border:hover {
    border: 1.8px solid white;
}

.panel {
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel a {
    color: white;
    text-decoration: none;
}

.panel-ops {
    width: 80%;
    font-size: 0.85rem;
}

.panel-ops a {
    display: inline;
    margin-left: 15px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 500;
}

.border {
    border: 1.8px solid transparent;
}

.border:hover {
    border: 1.8px solid white;
}


/* .image-container {
    position: relative;
}

.image-list {
    display: flex;
}

.image-item {
    min-width: 100%;
}

.image-item img {
    width: 100%;
    height: 100%;
}

.img-btn-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.img-btn-container i {
    border: 2px solid transparent;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
    color: black;
}

.img-btn-container i:focus {
    border-color: black;
    box-shadow: 2px 2px 2px solid white;
}
*/    

.hero-section {
    height: 350px;
    background-size: cover;
    background-image: url("images/hero_image.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    height: 40px;
    background-color: #F5F6F6;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 96%;
    margin-bottom: 25px;
}

.hero-msg a {
    text-decoration: none;
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    color: #0F1111;
    padding: 20px 0 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.box-img1 {
    background-image: url("images/gaming.jpg");
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.box a {
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content {
    margin-left: 20px;
    margin-right: 20px;
}

.box-content h2 {
    font-size: 21px;
    font-weight: 650;
}

.box-img2 {
    background-image: url("images/box1_image.jpg");
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.box-img3 {
    background-image: url("images/box4_image.jpg");
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.box-img4 {
    background-image: url("images/box5_image.jpg");
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid-item {
    text-align: left;
}

.grid-item img {
    width: 100%;
    height: 102px;
    margin-top: 1rem;
    display: flex;
    text-align: center;
    cursor: pointer;
}

.grid-container a {
    margin-top: 15px;
    font-size: 13px;
    color: #007185;
    text-decoration: none;
    white-space: nowrap;
}

.grid-container a:hover {
    color: #131A22;
}

.grid-item p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 1px;
    cursor: pointer;
}


.scroll-product{
    width: 94%;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px ;
}

.scroll-product h2{
    font-weight: 700;
    font-size: 21px;
}

.scroll-product .products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
}

.products::-webkit-scrollbar{
    height: 7px;
    cursor: pointer;
}

.products::-webkit-scrollbar-track{
    border-radius: 10px;
}

.products::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #ffff;
}

.products::-webkit-scrollbar-thumb:hover{
    background: #b4b2b2;
    cursor: pointer;
}

.products img{
    background-color: white;
    width: 200px;
    margin: 0px 20px;
    margin-bottom: 20px;
    
}




footer {
    margin-top: 40px;
}

.foot-panel0 {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    border-right: 1px solid #CCCCCC;
    border-radius: 5px;

}


.foot-panel0 .p1 {
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    padding: 0px 0px 4px;
    margin-bottom: 6px;

}

.foot-panel0 button {
    background-color: #FFD814;
    color: #0F1111;
    outline: none;
    border: none;
    width: 173px;
    height: 31px;
    border-radius: 15px;
    font-size: 13px;
    margin-bottom: 5px;
}

.foot-panel0 button:hover {
    background-color: #E6C213;
    cursor: pointer;
}

.foot-panel0 .p2 {
    font-size: 11px;
    color: #000000;
}

.foot-panel0 a {
    color: #2162A1;
    text-decoration: underline;
}

.foot-panel0 a:hover {
    color: #131A22;
    cursor: pointer;
}

.foot-panel1 {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.foot-panel1:hover {
    background-color: #4a5d78;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
}

.foot-panel2 a {
    text-decoration: none;
    color: #DDDDDD;
    font-size: 13px;
}

.foot-panel2 a:hover {
    text-decoration: underline;
}

ul a {
    display: block;
    margin-top: 8px;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 1px solid #37475a;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-panel3 .logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 80px;
}

.selection-box {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: transparent;
    color: #CCCCCC;
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
}

.selection-box i {
    font-size: 15px;
}

.flag-icon {
    width: 20px;
    height: auto;
}

.selection-box select {
    background: none;
    border: none;
    color: #CCCCCC;
    font-size: 13px;
    cursor: pointer;
}

.selection-box:hover {
    border-color: white;
}

.foot-panel4a {
    text-align: center;
    padding: 20px 0;
    background-color: #131A22;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-column{
    margin: 20px;
    min-width: 200px;

}

.footer-column h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #ddd;
}

.footer-column h3:hover{
    text-decoration: underline;
}

.footer-column a{
    display: block;
    color: #bbb;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 2px;
}

.footer-column a:hover{
    text-decoration: underline;
}

.foot-panel4b {
    text-align: center;
    padding: 20px 0;
    background-color: #131A22;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-text {
    font-size: 12px;
    color: white;
}